.container-cards {
  padding: 100px;
  display: grid;
  grid-gap: 30px;
}
@media (min-width:300px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
  .container-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 480px) { /* smartphones, Android phones, landscape iPhone */ 
  .container-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width:780px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .container-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width:941px) { 
  /* tablet, landscape iPad, lo-res laptops ands desktops */ 
  .container-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width:1140px) { 
  /* big landscape tablets, laptops, and desktops */ 
  .container-cards {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (min-width:1321px) {
  .container-cards {
    grid-template-columns: repeat(6, 1fr);
  }

}

@media (min-width:1592px) {
  .container-cards {
    grid-template-columns: repeat(7, 1fr);
  }

}

@media (min-width:1840px) {
  .container-cards {
    grid-template-columns: repeat(8, 1fr);
  }

}

@media (min-width:2208px) {
  .container-cards {
    grid-template-columns: repeat(9, 1fr);
  }

}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}