.scrollPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    h1 {
      color: rgb(255, 255, 255);
      font-size: 3.5rem;
      font-weight: bold;
      margin-bottom: -4rem;
    }
  }

  .container-cards-pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .container-cards {
      padding: 6.25rem;
      display: grid;
      grid-gap: 1.875rem;
    }
    @media (min-width: 18.75rem) {
      /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
      .container-cards {
        grid-template-columns: repeat(1, 1fr);
      }
    }
    @media (min-width: 30rem) {
      /* smartphones, Android phones, landscape iPhone */
      .container-cards {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    @media (min-width: 48.75rem) {
      /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
      .container-cards {
        grid-template-columns: repeat(3, 1fr);
      }
    }
    @media (min-width: 58.813rem) {
      /* tablet, landscape iPad, lo-res laptops ands desktops */
      .container-cards {
        grid-template-columns: repeat(4, 1fr);
      }
    }
    @media (min-width: 71.25rem) {
      /* big landscape tablets, laptops, and desktops */
      .container-cards {
        grid-template-columns: repeat(5, 1fr);
      }
    }
    @media (min-width: 82.563) {
      .container-cards {
        grid-template-columns: repeat(6, 1fr);
      }
    }

    @media (min-width: 99.5rem) {
      .container-cards {
        grid-template-columns: repeat(7, 1fr);
      }
    }

    @media (min-width: 115rem) {
      .container-cards {
        grid-template-columns: repeat(8, 1fr);
      }
    }

    @media (min-width: 138rem) {
      .container-cards {
        grid-template-columns: repeat(9, 1fr);
      }
    }
  }
}
