.details {
  width: 31.25rem;
  height: 43.75rem;
  background-color: rgb(245, 245, 245);
  border-radius: 1.875rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: inset 0 0 1em #252525, 1em 1em 3em rgb(0, 0, 0);

  table {
    padding: 1.563rem;
    margin-bottom: 1.563rem;
    th {
      font-size: 1.25rem;
      font-weight: 300;
    }
    td {
      padding: 0.313rem;
      font-size: 1.25rem;
      font-weight: bold;
      text-transform: capitalize;
    }
  }
}
