.card-container {
  
  border: 5px solid rgba(255, 255, 255, 0.931);
  box-shadow: 6px 6px 6px 3px rgba(2, 2, 2, 0.527);
  width: 200px;
  height: 340px;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: 0.2s all;

  .box-image{
    margin-top: -10px;
    display: flex;

   .circle{
      background-color: rgba(255, 255, 255, 0.52);
      border-radius: 50%;
      width: 160px;
      height: 160px;
      
      button {
        background: none;
        border: none;
        cursor: pointer;

        img {
          margin-top: 30px;
          width: 150px;
          height: 150px;
        } 
      }
      margin-bottom: 10px;
    }
  }

  .box-number-pokemon {
    background-color: rgba(2, 2, 2, 0.164);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 15px;
    
    span{
      font-size: 10px;
      font-weight: bold;
    }
  }
  .name-pokemon{
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    margin-top: -20px;
  }

  .type-pokemon {
    font-size: 12px;
    font-weight: 400;
    margin-top: -25px;
  }
}

.card-container:hover {
  box-shadow: 12px 12px 12px 6px rgba(2, 2, 2, 0.527);
  transform: scale(1.05);
}

.grass {
  background-color: #50d84b;
}
.bug {
  background-color: #457e52;
}
.dark {
  background-color: #595978;
}
.dragon {
  background-color: #448a95;
}
.electric {
  background-color: #e2e32b;
}
.fairy {
  background-color: #961a45;
}
.fighting {
  background-color: #994025;
}
.fire {
  background-color: #ab1f24;
}
.flying {
  background-color: #4a677d;
}
.ghost {
  background-color: #906791;
}
.ground {
  background-color: #a8702d;
}
.ice {
  background-color: #86d2f5;
}
.normal {
  background-color: #ca98a6;
}
.poison {
  background-color: #5e2d89;
}
.psychic {
  background-color: #a52a6c;
}
.rock {
  background-color: #48190b;
}
.steel {
  background-color: #43bd94;
}
.water {
  background-color: #1552e1;
}
